@use "./partials/leftNav";
@use "./partials/socks";
@use "./partials/card";
@use "./partials/form";
@use "./partials/popup";
@use "./partials/skeleton";

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

$font-family: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: lightgrey;
$text-color: #333;
$text-hover-color: blue;
$border-color: #222;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin-top: 0;
}

#container {
  width: 95%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
}

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-15 {
  padding-top: 15px;
}

.panel-default {
  .panel-heading {
    background-color: #333;
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
  }
}

#dtable td {
  text-align: center;
  // white-space: nowrap;
}
