$itemBackColorSelected: rgba(255, 255, 255, 0.23);
$itemBackColorHover: rgba(255, 255, 255, 0.13);
$navBarBackColor: #000000c9;
$navBarBackColor2: #000000da;
$borderBottomTitle: 1px solid rgba(255, 255, 255, 0.2);

.left-nav {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $navBarBackColor;
  overflow: hidden;
  z-index: 99;

  .page-name {
    // text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: larger;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      text-decoration: none;
      img {
        height: 30px;
      }
    }
    border-bottom: $borderBottomTitle;

    .nav-icon {
      display: none;

      &:hover {
        background-color: #90a4ae8e;
      }
    }
  }

  .nav-panel {
    margin-top: 30px;
    .nav-items {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        color: white;
        margin-left: 20px;
        pointer-events: none;
      }

      button {
        text-transform: none;
      }
      .nav-item {
        // display: block;
        justify-content: flex-start;
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
        padding: 8px 20px;
        text-decoration: none;
        border-radius: 6px;
        * {
          &:hover {
            background-color: transparent;
          }
        }

        &:hover {
          background-color: $itemBackColorHover;
        }

        &.current {
          background-color: $itemBackColorSelected;
        }
      }
    }
  }
}

#content {
  width: calc(100% - 250px);
  float: right;
  height: 100vh;
}

.spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .left-nav {
    width: 100%;
    height: 85px;
    transition: height 0.6s;
    background-color: $navBarBackColor2;
    .nav-icon {
      display: flex !important;
    }
    .nav-panel {
      display: none;
    }
    &.show {
      height: 100vh;
      .nav-panel {
        display: block;
      }
    }
  }

  #content {
    width: 100%;
    margin-top: 85px;
  }
}
