<div class="col-md-3">
    <p class="pad-top-15 text-muted">
        <span class="glyphicon glyphicon-user"></span> Hello,
        <strong>Admin</strong>!
    </p>
    <div class="panel-group">
        <!---->
        <!-- <div class="panel panel-default">
                            <div class="panel-heading">Content</div>
                            <div class="panel-body list-group">
                                <a href="/add/sock" class="list-group-item">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Add new sock
                                </a>
                                <a href="/add/details" class="list-group-item">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    Add loc,his 
                                </a>
                            </div>
                        </div> -->
        <!---->

        <!---->
        <div class="panel panel-default">
            <div class="panel-heading">data</div>
            <div class="panel-body list-group">
                <a href="/socks" class="list-group-item"><span class="glyphicon glyphicon-search"></span>
                    <!-- <span class="glyphicon glyphicon-list"></span> -->
                    Socks
                </a>
                <a href="/locations" class="list-group-item"><span class="glyphicon glyphicon-pushpin"></span>
                    <!-- <span class="glyphicon glyphicon-list"></span> -->
                    Locations
                </a>
                <a href="/history" class="list-group-item"><span class="	glyphicon glyphicon-list-alt"></span>
                    <!-- <span class="glyphicon glyphicon-list"></span> -->
                    History
                </a>
                <a href="/officers" class="list-group-item"><span class="glyphicon glyphicon-user"></span>
                    <!-- <span class="glyphicon glyphicon-list"></span> -->
                    Officers
                </a>
            </div>
        </div>
        <!---->

        <!---->
        <% if (pageName) { %>
            <div class="panel panel-default">
                <div class="panel-heading">Tools</div>
                <div class="panel-body list-group">

                    <a href="/add/<%= pageName%>" class="list-group-item"><span
                            class="glyphicon glyphicon-pencil"></span>
                        Add new item</a>
                </div>
            </div>
            <% }%>
                <!-- <div class="panel panel-default">
            <div class="panel-heading">Configuration</div>
            <div class="panel-body list-group">
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-cog"></span> Global
                    Edit exists item</a>
            </div>
        </div> -->
                <!---->
    </div>
</div>