<!DOCTYPE html>
<html lang="en">

<head>
    <title>Socks Panel</title>
    <script src="/app.js" defer></script>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav'); %>

        <div class="container-fluid">
            <div class="row">
                <%- include('./partials/left-nav')%>

                    <div class="col-md-9 pad-top-10">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                            </li>
                            <!-- <li>Dashboard</li> -->
                        </ul>

                        <!--Popular-->
                        <!-- <div class="panel panel-default"> -->
                        <div class="panel-heading">Welcome</div>
                        <div class="panel-content">
                            <div class="alert alert-info">
                                <p>
                                    Встре́ча с медве́дем мо́жет быть о́чень опа́сна. Ру́сские лю́ди лю́бят ходи́ть в
                                    лес и собира́ть грибы́ и я́годы. Они́ де́лают э́то с осторо́жностью, так как
                                    медве́ди то́же о́чень лю́бят я́годы и мо́гут напа́сть на челове́ка. Медве́дь ест
                                    всё: я́годы, ры́бу, мя́со и да́же насеко́мых. Осо́бенно он лю́бит мёд.
                                </p>
                            </div>
                        </div>
                        <!-- </div> -->
                        <!--End Popular-->
                    </div>
            </div>
        </div>
</body>

</html>