<!DOCTYPE html>
<html lang="en">

<head>
    <title>Socks Panel</title>
    <script src="/app.js" defer></script>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav'); %>

        <div class="container-fluid">
            <div class="row">
                <%- include('./partials/left-nav')%>

                    <div class="col-md-9 pad-top-10">
                        <!-- <div class="alert alert-info">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Maxime repudiandae aliquid perspiciatis unde officiis ab!
                            Saepe, ipsum eum aliquam inventore temporibus alias quam,
                            blanditiis ea consectetur! Laudantium nobis, dignissimos
                            sunt?
                        </p>
                    </div> -->

                        <ul class="breadcrumb">
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                            </li>
                            <!-- <li>Dashboard</li> -->
                        </ul>

                        <!--Popular-->
                        <div class="panel panel-default">
                            <div class="panel-heading">Popular Article</div>
                            <div class="panel-content">
                                <!-- <table id="dtable" class="table">
                                <tr>
                                    <td>
                                        <span class="label label-info">12</span>
                                        <a href="#">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        01.13.16
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-info">12</span>
                                        <a href="#">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        01.13.16
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="label label-info">12</span>
                                        <a href="#">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        01.13.16
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="label label-info">12</span>
                                        <a href="#">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        01.13.16
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="label label-info">12</span>
                                        <a href="#">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        01.13.16
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="label label-info">12</span>
                                        <a href="#">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        01.13.16
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="label label-info">12</span>
                                        <a href="#">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        01.13.16
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="label label-info">12</span>
                                        <a href="#">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit.</a>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        01.13.16
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <ul class="pagination">
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">Last</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table> -->
                            </div>
                        </div>
                        <!--End Popular-->
                    </div>
            </div>
        </div>
</body>

</html>