<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button role="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="logoSite" style="display:flex; flex-direction: row-reverse; gap:10px;">
				<a href="/" class="navbar-brand">Socks Control Panel</a>
				<img src="/assets/logo.png" style="width:19px; height:28px; margin-top: 10px;">
			</div>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#"><span class="glyphicon glyphicon-lock"></span> Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>