@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
$font-family: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: lightgrey;
$text-color: #333;
$text-hover-color: blue;
$border-color: #222;

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   font-family: $font-family;
//   color: $text-color;
//   background-color: $primary-color;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: start;
//   align-items: center;
//   flex-direction: column;
//   margin: 100px 0;
//   gap: 4vh;
//   font-size: min(2vw, 24px);
//   background-image: linear-gradient(to right, #d4d3dd, #efefbb);
//   overflow-x: hidden;
// }

html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
}

.pad-top-10 {
  padding-top: 10px;
}
.pad-top-15 {
  padding-top: 15px;
}

.panel-default .panel-heading {
  background-color: #333;
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
}
